[Unit]
Description=Blumen Shrumen Pad Lights Script
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/Desktop/pi-server/startup/startup-padlights.sh > /home/pi/Desktop/startup-padlights.log 2>&1
Environment=NODE_ENV=production
User=pi

[Install]
WantedBy=multi-user.target

