[Unit]
Description=Blumen Shrumen Node Server
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/Desktop/pi-server/startup/startup-node.sh > /home/pi/Desktop/startup-node.log 2>&1
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
