[Unit]
Description=Blumen Shrumen Pixelpusher Processing Script
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/Desktop/pi-server/startup/startup-pixelpusher.sh > /home/pi/Desktop/startup-pixelpusher.log 2>&1
Environment=NODE_ENV=production
User=pi

[Install]
WantedBy=multi-user.target
