[Unit]
Description=Blumen Shrumen Linear Actuator Script
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/Desktop/pi-server/startup/startup-linearactuator.sh > /home/pi/Desktop/startup-linearactuator.log 2>&1
Environment=NODE_ENV=production
User=pi

[Install]
WantedBy=multi-user.target
